[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/gundo.vim"]
	path = bundle/gundo.vim
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/git-vim"]
	path = bundle/git-vim
	url = git://github.com/motemen/git-vim.git
[submodule "bundle/vim-autoclose"]
	path = bundle/vim-autoclose
	url = git://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = git://github.com/ervandew/supertab.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/edsono/vim-matchit.git
[submodule "delimitMate"]
	path = delimitMate
	url = git://github.com/Raimondi/delimitMate.git
[submodule "bundle/php-xdebug-git"]
	path = bundle/php-xdebug-git
	url = git://github.com/travisj/php-xdebug-vim.git
[submodule "vim-visual-star-search"]
	path = vim-visual-star-search
	url = git://github.com/bronson/vim-visual-star-search.git
[submodule "vim-pastie"]
	path = vim-pastie
	url = git://github.com/tpope/vim-pastie.git
[submodule "supertab"]
	path = supertab
	url = git://github.com/ervandew/supertab.git
[submodule "vim-extradite"]
	path = vim-extradite
	url = https://github.com/int3/vim-extradite.git
[submodule "bundle/pbcopy"]
	path = bundle/pbcopy
	url = git@github.com:jhuttner/pbcopy.vim.git
